// 此自定义uView主题生成于2021-09-18 11:27
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #ffd000;
$u-type-error: #ff3e32;
$u-type-warning: #fe7427;
$u-type-success: #2ad670;
$u-type-info: #909399;
$u-type-primary-light: #fff7d1;
$u-type-error-light: #f7e0df;
$u-type-warning-light: #fcddcc;
$u-type-success-light: #daf4e4;
$u-type-info-light: #f4f4f5;
$u-type-primary-dark: #b49c13;
$u-type-error-dark: #c43228;
$u-type-warning-dark: #d36629;
$u-type-success-dark: #209650;
$u-type-info-dark: #82848a;
$u-type-primary-disabled: #f9e99c;
$u-type-error-disabled: #f8a39e;
$u-type-warning-disabled: #fbb58d;
$u-type-success-disabled: #96d7b1;
$u-type-info-disabled: #c8c9cc;
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;
